<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wtw.dao.VolumeMapper">
	<select id="findVolumeById" resultType="volume">
		select * from gh_wj_volume where uuid=#{uuid}
	</select>
</mapper>